APP_NAME="Safi-App"
APP_VERSION="0.1"

MONGODB_URL="mongodb://localhost:27017/safi_db?authSource=admin"
MONGODB_DATABASE="safi_db"
MONGODB_ROOT_USERNAME=YOUR_USERNAME
MONGODB_ROOT_PASSWORD=YOUR_PASSWORD


INVITE_CODE_LENGTH=8