APP_NAME="Safi-App"
APP_VERSION="0.1"

MONGODB_URL="mongodb://localhost:27017/safi_db?authSource=admin"
MONGODB_DATABASE="safi_db"
MONGODB_ROOT_USERNAME=YOUR_USERNAME
MONGODB_ROOT_PASSWORD=YOUR_PASSWORD

SECRET_KEY="abe9b30f282a7358c1d77640c47538ded356be6c428142eb8febe5aae8ba3352"
INVITE_CODE_LENGTH=8